{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body>
    <div id="herosection">
        <div>
            <div id="hero_content">LOGIN</div>
            <label id="nabdata_path">Home &nbsp;&nbsp;>&nbsp;&nbsp;
                <span style="color: rgb(242, 16, 16);">Login</span>
            </label>
        </div>
    </div>

    <div id="login_form">
        <h2 id="form_type"> Login</h2>
        <form action="{% url 'logindata' %}" method="post">
            {% csrf_token %}
    
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Login with Email/Number</label>
                <input type="email" name="userid" class="form-control" id="exampleFormControlInput1"
                    placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" name="password" id="inputPassword5" class="form-control"
                    aria-describedby="passwordHelpBlock">
            </div>
    
            <div id="submit_box">
                <input type="submit" value="login" id="submit_btn" onclick="massage()">
            </div>
        </form>
    </div>
    <script>    
        tagpro = "{{key1}}"
        if (tagpro) {
            message = "{{key1}}"
            window.alert(message)
        }
    </script>

</body>
</html>
{% endblock %}