{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}About{% endblock %}</title>
</head>

<body>
    <div id="herosection">
        <div>
            <div id="hero_content">SERVICE</div>
            <label id="nabdata_path">Home &nbsp;&nbsp;>&nbsp;&nbsp;
                <span style="color: rgb(242, 16, 16);">Service</span>
            </label>
        </div>
    </div>
    <div id="service_body">
        <div id="ind_sect1_img">
            <img src="{% static '/image/gallery-1.jpg' %}" alt="">
            <div id="server_txtbox">
                <label>Personal training</label><br/>
                <span>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor ut dolore facilisis.
                </span><br/><br/>
                <a href="#">EXPLORE</a>
            </div>
            <img src="{% static '/image/gallery-2.jpg' %}" alt="">
            <div id="server_txtbox">
                <label>Personal training</label><br/>
                <span>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor ut dolore facilisis.
                </span><br/><br/>
                <a href="#">EXPLORE</a>
            </div>
            <div id="server_txtbox">
                <label>Personal training</label><br/>
                <span>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor ut dolore facilisis.
                </span><br/><br/>
                <a href="#">EXPLORE</a>
            </div>
            <img src="{% static '/image/gallery-3.jpg' %}" alt="">
            <div id="server_txtbox">
                <label>Personal training</label><br/>
                <span>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor ut dolore facilisis.
                </span><br/><br/>
                <a href="#">EXPLORE</a>
            </div>
            <img src="{% static '/image/gallery-4.jpg' %}" alt="">
        </div>
    </div>
</body>

</html>
{% endblock %}