{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="herosection">
        <div>
            <div id="hero_content">OUR TEAM</div>
            <label id="nabdata_path">Home &nbsp;&nbsp;>&nbsp;&nbsp;
                <span style="color: rgb(242, 16, 16);">Our Team</span>
            </label>
        </div>
    </div> 

    <div id="team_body">
        <div id="team_head">
            <div id="team_content">
                <label>OUR TEAM</label><br/>
                <span>TRAIN WITH EXPERTS</span>
            </div>
            <div id="team_appoint_btn">
                <button>APPOINTMENT</button>
            </div>
        </div>
        <div id="team_member_img">
            <div id="team_mem_img_box">
                <img src="{% static '/image/team-1.jpg' %}" alt="">
                <div id="team_detail_box">
                    <label>Athart Rachel</label><br/>
                    <span>GYM TRAINER</span>
                    <ul id="class_sociallink" class="solcial_link">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <div id="team_mem_img_box">
                <img src="{% static '/image/team-2.jpg' %}" alt="">
                <div id="team_detail_box">
                    <label>Athart Rachel</label><br/>
                    <span>GYM TRAINER</span>
                    <ul id="class_sociallink" class="solcial_link">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <div id="team_mem_img_box">
                <img src="{% static '/image/team-3.jpg' %}" alt="">
                <div id="team_detail_box">
                    <label>Athart Rachel</label><br/>
                    <span>GYM TRAINER</span>
                    <ul id="class_sociallink" class="solcial_link">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <div id="team_mem_img_box">
                <img src="{% static '/image/team-4.jpg' %}" alt="">
                <div id="team_detail_box">
                    <label>Athart Rachel</label><br/>
                    <span>GYM TRAINER</span>
                    <ul id="class_sociallink" class="solcial_link">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <div id="team_mem_img_box">
                <img src="{% static '/image/team-5.jpg' %}" alt="">
                <div id="team_detail_box">
                    <label>Athart Rachel</label><br/>
                    <span>GYM TRAINER</span>
                    <ul id="class_sociallink" class="solcial_link">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <div id="team_mem_img_box">
                <img src="{% static '/image/team-6.jpg' %}" alt="">
                <div id="team_detail_box">
                    <label>Athart Rachel</label><br/>
                    <span>GYM TRAINER</span>
                    <ul id="class_sociallink" class="solcial_link">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

</body>
</html>
{% endblock %}